In [1]:
import mysql.connector as connection

In [ ]:
# Q-1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias name as <WORKER_NAME>.


Select FIRST_NAME AS WORKER_NAME from Worker;

In [ ]:
# Select FIRST_NAME AS WORKER_NAME from Worker


Select Disctinct DEPARTMENT from Worker;

In [ ]:
# Q-3. Write an SQL query to show the last 5 record from a table.


Select substring(-1,-5) from Worker;